body{font-family:Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif,"Helvetica Neue",Helvetica;padding-top: 50px;}
h1,h2,h3,h4,h5,h6{font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;}
.footer-container{background:#222222;color:#EEEEEE;}


/*common styles*/
.row-header{padding:35px 0 40px;}
.row-header h2{font-size:36px;font-family:'黑体';font-weight:300;text-align:center;}
.row-header h2 small{font-size:16px;display: block; margin: 15px; font-family: '微软雅黑';}

/*defined*/
.xui-row-3{width:75%;margin-right:auto;margin-left:auto;}

/*icons*/
.service-icons{
	color:red;
	display:block;
	background:url(../image/service-icons.png) no-repeat;
	width:150px; height:112px;
	}
.icon-web{ background-position:left; }
.icon-mobile{ background-position:33%; }
.icon-interface{ background-position:66%; }
.icon-android{ background-position:right; }


/* 手机，小于 768px */
@media (max-width: 767px) {
	.row-header{padding:25px 0 30px;}
	.row-header h2{font-size:24px;}
	.row-header h2 small{font-size:14px;}
}