.global-search-wrapper{
    max-width: 500px;
    display: block;
    margin: 0 auto;

    .global-search {
        width: 100%;

        &.ant-select-auto-complete{
            .ant-select-selection--single {
                margin-right: -46px;
            }
            .ant-input-affix-wrapper{
                .ant-input:not(:last-child) {
                    padding-right: 62px;
                }
                .ant-input-suffix {
                    right: 0;
                    // margin-top: -1px;
                    button {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }

        .ant-select-search__field{
            input.ant-input{
                // border: none;
            }
        }
    }
}

.yikatong-header{
    display: flex;
    align-items: center;
    img{
        width: 100%;
    }
    .brand, .right{
        width: 50px;
        flex: auto;
    }
    .brand{
        .logo{
            width: 45px;
        }
    }

    @media all and (min-width: 768px){
        .brand, .right{
            width: 150px;
        }
        .brand{
            .logo{
                width: 120px;
            }
        }
    }
}