
.xui-container{ margin-left: auto; margin-right: auto; position: relative; }
@media (min-width: 768px){
    .xui-container{ width:750px; }
}
@media (min-width: 992px){
    .xui-container{ width:970px; }
}
@media (min-width: 1200px){
    .xui-container{ width:1170px; }
}

/*button*/
.xui-btn{
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    border: none;
    font-weight: normal;
}
.xui-btn-default{
    background: chocolate;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size:12px;
}



.accent-color{color: chocolate;}



.xui-menu{
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.xui-menu-list li{ 
    background: chocolate; 
    margin-bottom:5px; 
}
.xui-menu-list a{
    padding: 10px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /*overflow: hidden;*/
}
.xui-menu-item a:before{
    content: '';
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: darkslategrey;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.xui-menu-item a:hover{
    padding-left: 20px;
}
.xui-menu-item a:hover:before{
    width: 100%;
}
.xui-menu-list li.menu-active a{
    background: darkslategrey;
    padding-left: 20px;
}


.xui-card{
    background: url(../img/bg-card2.png) repeat-x right top #f4f4f4;
    padding:35px 45px 20px;
    border-top: 6px solid darkslategray;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    height: 570px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
}
.xui-card img{
    max-width:100%;
}
.xui-card section{
    margin-bottom: 35px;
}
.xui-card-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #ddd;
    margin: 20px auto;
    box-sizing: border-box;
}
.xui-card-avatar img{
    width:100%;
}
.xui-card-desc .main-title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom:8px;
    font-family: 'Ubuntu';
}
.xui-card-desc .sub-title{
    font-weight: bold;
    color: #333;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8px;
    font-family: 'Ubuntu';
}
.xui-card-desc hr{
    border: none;
    height: 1px;
    background: url(../img/hr.png) no-repeat center center;
    padding: 10px 0;
    margin:0;
}
.xui-card-desc .contact-info{
    background: chocolate;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    text-align: center;
}
.xui-card-desc .description{
    font-size: 13px;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: center;
}

.xui-card-footer{
    margin-top: 15px;
}
.xui-card-footer .social-btns{
    text-align: center;
}
.xui-card-footer .social-btns a{
    background: #333;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    margin: 0 3px;
}
.xui-card-footer .social-btns a:hover{
    background: chocolate;
}


/* card title */
.card-title{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.card-sub-title{
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dotted #333;
    line-height: 28px;
    margin: 20px 0 12px;
}

.list-view-card li img{
    width: 100%;
}

.section-title{
    border-left: 4px solid chocolate;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: chocolate;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
}

/*xui progress*/
.xui-progress{
    position: relative;
    margin-bottom: 15px;
    background: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    height:25px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.xui-progress .xui-progress-bar{
    float:left;
    height: 100%;
    background: chocolate;
    box-shadow: inset 0 -1px 2px rgba(0,0,0,0.15);
}
.xui-progress .xui-progress-label{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    text-indent: 1.5em;
}
.xui-progress .xui-progress-completed{
    position:absolute;
    right:8px;
    font-size:14px;
    font-weight:bold;
    line-height:25px;
    color:#999;
}




/*form*/
.xui-form .form-group{
    margin-bottom: 10px;   
}
.xui-form .form-control{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    background:#fff;
    color: #555;
}
.xui-form .submit-btn{
    width: 100%;
    background: chocolate;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 12px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}













