
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493565817496'); /* IE9*/
  src: url('iconfont.eot?t=1493565817496#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493565817496') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493565817496') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493565817496#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e608"; }

.icon-menu:before { content: "\e646"; }

.icon-share:before { content: "\e672"; }

.icon-pause:before { content: "\e615"; }

.icon-play:before { content: "\e61d"; }

.icon-danquxunhuan:before { content: "\e61e"; }

.icon-xunhuanbofang:before { content: "\e662"; }

.icon-suijibofang:before { content: "\e618"; }

.icon-nextpage:before { content: "\e60e"; }

