.layout-yikatong{
    background-image: url('./img/fengjing.jpg');
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;

    .ant-layout-header, .ant-layout-footer{
        background: #fff;
        padding: 0 15px;
        
        h1{
            color: white;
        }
        .search-box{
            text-align: center;
            .ant-input-search{
                display: inline-block;
                max-width: 500px;
            }
        }
        .filter-btn{
            cursor: pointer;
            float: right;
            color: white;
        }
    }
    .ant-layout-content{
        min-height: calc(100vh - 128px);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .main-card{
        width:100%;
        margin: 0;
    }
}
.main-cardant-drawer-content-wrapper{
    padding-top: 64px;
}

.ant-drawer-body{
    height: 100%;
}


.hidden-sm{display: none;}
.hidden-md{display: block;}

@media all and (min-width: 768px){
    .hidden-sm{display: block;}
    .hidden-md{display: none;}      

    .layout-yikatong{
        background-size: cover;
        .ant-layout-header{
            padding: 0 35px;
            // background: rgba(0,0,0, .5);
        }

        .main-card{
            width:60%;
            min-width: 720px;
            margin: 35px auto 35px;
        }
    }
}