.layout-yikatong{
    background-image: url('./img/fengjing.jpg');
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    .ant-layout-header, .ant-layout-footer{
        background: rgba(0,0,0, .5);
        h1{
            color: white;
        }
        .search-box{
            text-align: center;
            .ant-input-search{
                display: inline-block;
                max-width: 500px;
            }
        }
        .filter-btn{
            cursor: pointer;
            float: right;
            color: white;
        }
    }
    .ant-layout-content{
        min-height: calc(100vh - 128px);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-card{
        width:60%;
        min-width: 600px;
        margin: 35px auto 35px;
    }
}
.main-cardant-drawer-content-wrapper{
    padding-top: 64px;
}

.ant-drawer-body{
    height: 100%;
}