@font-face {
	font-family: 'HappyZcool-2016a87a5620516d9d';
	src: url('590ef8dbf629d808b439f53a.gif?r=42547036059');
	src: url('590ef8dbf629d808b439f53a.gif?r=42547036059?#iefix') format('embedded-opentype'),     
		url('590ef8dbf629d808b439f53a.bmp?r=42547036059') format('woff'),     
		url('590ef8dbf629d808b439f53a.jpg?r=42547036059') format('truetype'),     
		url('#HappyZcool-2016') format('svg');   
}
.cssa87a5620516d9d{font-family: 'HappyZcool-2016a87a5620516d9d';}